<!DOCTYPE html>
<html lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ubiquiti DEMO</title>
    <link rel="stylesheet" href="assets/css/basic-grey.css">
</head>

<body>
{{children}}
</body>
</html>